.calc{
    height: 40vh;
    width: 180px;
    border-style: solid;
    border-color: black;
}.bt{
    height: 30px;
    width: 25px;
}.r{
width: 175px;
height: 25px;
}.bt1{
    width: 155px;
}
